.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem{
    -fx-background-color: transparent;
}

.sidebarItem:hover{
    -fx-border-color: GREEN;
    -fx-border-width: 0px 0px 0px 5px;
}